<h2>Recent churns</h2>

<table>
  <tr>
    <th>Subscription ID</th>
    <th>Days subscribed</th>
    <th>Purchase count</th>
    <th>Signed up</th>
    <th>Length of sub</th>
  </tr>

  <% @churned_customers.each do |subscription| %>
    <tr>
      <td><%= subscription.id %>
      <td><%= subscription.deactivated_on - subscription.created_at.to_date %>
      <td><%= subscription.user.purchases.count %>
    </tr>
  <% end %>
</table>
