<h2>Learn Rails</h2>
<section class="level">
  <h3>Beginner Rails</h3>
  <section class="actions">
    <a href="http://learn.thoughtbot.com/workshops/20-intro-to-ruby-on-rails" class="button workshop">Complete the workshop</a>
  </section>
  <section class="resources">
    <h4>Resources</h4>
    <ol>
      <li><a href="http://ruby.railstutorial.org/">Complete Michael Hartl's Rails Tutorial</a></li>
      <li><a href="http://railsforzombies.org/">Complete Rails for Zombies</a></li>
      <li><a href="http://github.com/">Push your code to Github</a></li>
      <li><a href="http://heroku.com/">Deploy to Heroku</a></li>
    <ol>
  </section>
  <section class="validations">
    <h4>Beginning rails developers should know</h4>
    <ul>
      <li>Create a route, controller, and action.</li>
      <li>Query the database.</li>
      <li>Create a form that saves records.</li>
      <li>Associate ActiveRecord objects.</li>
      <li>Validate ActiveRecord objects.</li>
      <li>Whitelist ActiveRecord attributes.</li>
      <li>Interpolate data in a view.</li>
      <li>Deploy your app to production.</li>
    </ul>
  </section>
</section>
<section class="level">
  <h3>Intermediate Rails</h3>
  <section class="actions">
    <a href="http://learn.thoughtbot.com/workshops/21-intermediate-ruby-on-rails" class="button workshop">Complete the workshop</a>
    <div class="capstone">
      <h5>Complete the capstone</h5>
      <ol>
        <li>Fork <a href="https://github.com/thoughtbot/intermediate-rails-capstone">this github repo</a></li>
        <li>Follow the instructions in Readme.md</li>
        <li>Submit a PR to the main repo</li>
      </ol>
    </div>
  </section>
  <section class="resources">
    <h4>Resources</h4>
    <ol>
      <li><a href="https://tutorials.railsapps.org/">Complete the RailsApps tutorials</a></li>
      <li><a href="http://railscasts.com/">Watch Railscasts</a></li>
    <ol>
  </section>
  <section class="validations">
    <h4>Beginning rails developers should know</h4>
    <ul>
      <li>Move code from views and controllers into models.</li>
      <li>Create models, views, and controllers without built-in generators.</li>
      <li>Use partials, built-in Rails helpers, and custom helpers to clean up and reduce duplication in your view code</li>
      <li>Use the asset pipeline effectively.</li>
      <li>Implement user authentication</li>
      <li>Use polymorphism to model your domain</li>
      <li>Implement counter caches and advanced counters</li>
      <li>Implement file uploads</li>
      <li>Add pagination to your application</li>
    </ul>
  </section>
</section>
<section class="level">
  <h3>Advanced Rails</h3>
  <section class="actions">
    <a href="http://learn.thoughtbot.com/workshops/18-test-driven-rails" class="button workshop">Complete the workshop</a>
    <div class="capstone">
      <h5>Complete the capstone</h5>
      <ol>
        <li>Fork <a href="https://github.com/thoughtbot/advanced-rails-capstone">this github repo</a></li>
        <li>Follow the instructions in Readme.md</li>
        <li>Submit a PR to the main repo</li>
      </ol>
    </div>
  </section>
  <section class="resources">
    <h4>Resources</h4>
    <ol>
      <li><a href="http://www.codeschool.com/courses/rails-testing-for-zombies">Complete Rails Testing for Zombies</a></li>
      <li><a href="https://github.com/copycopter/copycopter-server">Read open source code: example</a></li>
      <li><a href="https://github.com/thoughtbot/guides/tree/master/style">Review the thoughtbot style guide</a></li>
      <li><a href="http://goo.gl/YU3Ml">Subscribe to the Rails Core mailing list</a></li>
    <ol>
  </section>
  <section class="validations">
    <h4>Beginning rails developers should know</h4>
    <ul>
      <li>Write and run tests for your models.</li>
      <li>Write and run acceptance tests for your application.</li>
      <li>Contribute to an open source project</li>
      <li>Stick to a style guide</li>
    </ul>
  </section>
</section>
