<h2 class="new-trails-title">Learn Rails</h2>
<section class="level">
  <h3>Beginner Rails</h3>
  <section class="actions">
    <div class="main-item">
      <h5>First, complete the workshop</h5>
      <ul>
        <li>Learn Ruby and Rails basics</li>
        <li>Complete several small exercises</li>
        <li>Build a sample app</li>
        <li>Use weekly office hours for questions</li>
      </ul>
      <a target="_blank" href="http://learn.thoughtbot.com/workshops/20-intro-to-ruby-on-rails" class="button workshop">Begin the workshop</a>
    </div>
  </section>
  <section class="resources">
    <h4>Complementary Resources</h4>
    <ol>
      <li><a target="_blank" href="http://ruby.railstutorial.org/">Complete Michael Hartl's Rails Tutorial</a></li>
      <li><a target="_blank" href="http://railsforzombies.org/">Complete Rails for Zombies</a></li>
      <li><a target="_blank" href="http://github.com/">Push your code to Github</a></li>
      <li><a target="_blank" href="http://heroku.com/">Deploy to Heroku</a></li>
    <ol>
  </section>
  <section class="validations trail-map-steps">
    <h4>Beginning rails developers should know how to</h4>
    <ul>
      <li>
        <div class="trail-bullet-hit-area">
          <div class="trail-bullet"></div>
        </div>
        <span>Create a route, controller, and action.</span>
      </li>
      <li>
        <div class="trail-bullet-hit-area">
          <div class="trail-bullet"></div>
        </div>
        <span>Query the database.</span>
      </li>
      <li>
        <div class="trail-bullet-hit-area">
          <div class="trail-bullet"></div>
        </div>
        <span>Create a form that saves records.</span>
      </li>
      <li>
        <div class="trail-bullet-hit-area">
          <div class="trail-bullet"></div>
        </div>
        <span>Associate ActiveRecord objects.</span>
      </li>
      <li>
        <div class="trail-bullet-hit-area">
          <div class="trail-bullet"></div>
        </div>
        <span>Validate ActiveRecord objects.</span>
      </li>
      <li>
        <div class="trail-bullet-hit-area">
          <div class="trail-bullet"></div>
        </div>
        <span>Whitelist ActiveRecord attributes.</span>
      </li>
      <li>
        <div class="trail-bullet-hit-area">
          <div class="trail-bullet"></div>
        </div>
        <span>Interpolate data in a view.</span>
      </li>
      <li>
        <div class="trail-bullet-hit-area">
          <div class="trail-bullet"></div>
        </div>
        <span>Deploy your app to production.</span>
      </li>
    </ul>
  </section>
</section>
<section class="level">
  <h3>Intermediate Rails</h3>
  <section class="actions">
    <div class="main-item">
      <h5>First, complete the workshop</h5>
      <ul>
        <li>???</li>
      </ul>
      <a target="_blank" href="http://learn.thoughtbot.com/workshops/21-intermediate-ruby-on-rails" class="button workshop">Begin the workshop</a>
    </div>
    <div class="main-item">
      <h5>Last, complete the capstone</h5>
      <ul>
        <li>Test your advanced Rails learning with a real app</li>
        <a target="_blank" href="#" class="button workshop">Begin the capstone project</a>
      </ul>
    </div>
  </section>
  <section class="resources">
    <h4>Complementary Resources</h4>
    <ol>
      <li><a target="_blank" href="https://tutorials.railsapps.org/">Complete the RailsApps tutorials</a></li>
      <li><a target="_blank" href="http://railscasts.com/">Watch Railscasts</a></li>
    <ol>
  </section>
  <section class="validations trail-map-steps">
    <h4>Intermediate rails developers should know how to</h4>
    <ul>
      <li>
        <div class="trail-bullet-hit-area">
          <div class="trail-bullet"></div>
        </div>
        <span>Move code from views and controllers into models.</span>
      </li>
      <li>
        <div class="trail-bullet-hit-area">
          <div class="trail-bullet"></div>
        </div>
        <span>Create models, views, and controllers without built-in generators.</span>
      </li>
      <li>
        <div class="trail-bullet-hit-area">
          <div class="trail-bullet"></div>
        </div>
        <span>Use partials, built-in Rails helpers, and custom helpers to clean up and reduce duplication in your view code</span>
      </li>
      <li>
        <div class="trail-bullet-hit-area">
          <div class="trail-bullet"></div>
        </div>
        <span>Use the asset pipeline effectively.</span>
      </li>
      <li>
        <div class="trail-bullet-hit-area">
          <div class="trail-bullet"></div>
        </div>
        <span>Implement user authentication</span>
      </li>
      <li>
        <div class="trail-bullet-hit-area">
          <div class="trail-bullet"></div>
        </div>
        <span>Use polymorphism to model your domain</span>
      </li>
      <li>
        <div class="trail-bullet-hit-area">
          <div class="trail-bullet"></div>
        </div>
        <span>Implement counter caches and advanced counters</span>
      </li>
      <li>
        <div class="trail-bullet-hit-area">
          <div class="trail-bullet"></div>
        </div>
        <span>Implement file uploads</span>
      </li>
      <li>
        <div class="trail-bullet-hit-area">
          <div class="trail-bullet"></div>
        </div>
        <span>Add pagination to your application</span>
      </li>
    </ul>
  </section>
</section>
<section class="level">
  <h3>Advanced Rails</h3>
  <section class="actions">
    <div class="main-item">
      <h5>First, complete the workshop</h5>
      <ul>
        <li>Learn to write fast unit and integrations tests</li>
        <li>???</li>
      </ul>
      <a target="_blank" href="http://learn.thoughtbot.com/workshops/18-test-driven-rails" class="button workshop">Begin the workshop</a>
    </div>
    <div class="main-item">
      <h5>Last, complete the capstone</h5>
      <ul>
        <li>Test your intermediate Rails learning with a real app</li>
        <a target="_blank" href="http://learn.thoughtbot.com/workshops/20-intro-to-ruby-on-rails" class="button workshop">Begin the workshop</a>
      </ol>
    </div>
  </section>
  <section class="resources">
    <h4>Complementary Resources</h4>
    <ol>
      <li><a target="_blank" href="http://www.codeschool.com/courses/rails-testing-for-zombies">Complete Rails Testing for Zombies</a></li>
      <li><a target="_blank" href="https://github.com/copycopter/copycopter-server">Read open source code: example</a></li>
      <li><a target="_blank" href="https://github.com/thoughtbot/guides/tree/master/style">Review the thoughtbot style guide</a></li>
      <li><a target="_blank" href="http://goo.gl/YU3Ml">Subscribe to the Rails Core mailing list</a></li>
    <ol>
  </section>
  <section class="validations trail-map-steps">
    <h4>Advanced rails developers should know how to</h4>
    <ul>
      <li>
        <div class="trail-bullet-hit-area">
          <div class="trail-bullet"></div>
        </div>
        <span>Write and run tests for your models.</span>
      </li>
      <li>
        <div class="trail-bullet-hit-area">
          <div class="trail-bullet"></div>
        </div>
        <span>Write and run acceptance tests for your application.</span>
      </li>
      <li>
        <div class="trail-bullet-hit-area">
          <div class="trail-bullet"></div>
        </div>
        <span>Contribute to an open source project</span>
      </li>
      <li>
        <div class="trail-bullet-hit-area">
          <div class="trail-bullet"></div>
        </div>
        <span>Stick to a style guide</span>
      </li>
    </ul>
  </section>
</section>
