<h2>Learn Rails</h2>
<% 3.times do %>
  <section class="level">
    <h3>Beginner Rails</h3>
    <section class="actions">
      <a href="#" class="button">Complete the workshop</a>
      <div>
        <h5>Complete the capstone</h5>
        <ol>
          <li>Fork <a href="#">this github repo</a></li>
          <li>Follow the instructions in the Readme.md file</li>
          <li>Submit a PR to the main repo once you're finished</li>
        </ol>
      </div>
    </section>
    <section class="resources">
      <h4>Resources</h4>
      <ol>
        <% 15.times do %>
          <li><a href="#">Lorem ipsum dolar sit amet</a></li>
        <% end %>
      <ol>
    </section>
    <section class="validations">
      <h4>Beginning rails developers should know</h4>
      <ul>
        <% 15.times do %>
          <li>Lorem ipsum dolar sit amet</li>
        <% end %>
      </ul>
    </section>
  </section>
<% end %>
