body.teams-edit {
  h4 {
    span {
      font-style: normal;
      font-weight: normal;
    }
  }

  .members {
    margin: 0;
    padding: 0;

    li {
      border: 1px solid $warmgray;
      border-radius: 3px;
      display: block;
      list-style-type: none;
      margin: 0 0 .5rem;
      padding: .5rem 1rem;
      position: relative;

      &.pending {
        background: #eee;
        border-style: dashed;
        font-style: italic;
      }

      &.admin {
        &:after {
          content: '(admin) ';
        }
      }

      a {
        color: $darkwarmgray;
        padding: 0.5rem 1rem;
        @include position(absolute, 0px 0px 0 0);
        font-style: normal;

        &:hover {
          color: $upcase-red;
        }
      }
    }
  }

  .invite-members {
    margin-top: 2rem;

    > p {
      font-weight: bold;
    }

    form {
      margin: 0;
    }

    li.email, input[type=submit] {
      display: inline-block;
      vertical-align: top;
    }

    li.email {
      width: 80%;

      label {
        display: none;
      }
    }

    input[type=email] {
      margin: 0;
    }
  }
}
