.level {
  overflow: auto;
  padding: 2rem 0;
  position: relative;

  h3, h4 {
    color: $darkwarmgray;
    font: 600 1.3rem/1.3 $sans-serif;
    margin-bottom: 1.25rem;
  }

  h3 {
    font-weight: 800;
    color: darken($darkwarmgray, 15%);
  }

  .actions {
    margin-bottom: 1.25rem;
    overflow: auto;
    position: relative;
    width: 100%;

    &:before {
      background: $learndarkred;
      content: '';
      display: block;
      height: 3px;
      @include position(absolute, 50% 0px 0 0px);
      z-index: -1;
    }
  }

  .main-item {
    background: $lightwarmgray;
    border: 3px solid $learndarkred;
    float: left;
    margin: 0 0 1rem 0;
    padding: 1rem;
    width: flex-grid(4);

    &:last-of-type {
      float: right;
    }

    &:first-of-type {
      float: left;
    }

    h5 {
      color: $darkwarmgray;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 1px;
      margin-bottom: .5rem;
      text-align: center;
      text-transform: uppercase;
      -webkit-font-smoothing: inherit;
    }

    ol, ul {
      list-style-position: inside;
      margin: 0;
    }

    ol li {
      list-style-type: decimal;
      margin: 0;
    }

    ul li {
      list-style-type: disc;
      margin: 0;
    }

    .button {
      display: block;
      margin: 1rem 0 0;
    }
  }

  .exercises {
    background: $lightwarmgray;
    border: 3px solid $learndarkred;
    border-radius: 100%;
    display: block;
    height: 120px;
    margin: -60px 0 0 -60px;
    padding: 1rem;
    @include position(absolute, 50% 0 0 50%);
    text-align: center;
    width: 120px;

    a {
      display: block;
      margin-top: .5rem;
    }
  }

  .secondary-list {
    float: left;
    width: flex-grid(4);

    ul, ol {
      list-style-type: none;
      margin: 0;
    }

    li {
      display: block;
      margin: 0 0 .75rem;
      width: 100%;
    }

    li a {
      background: lighten($warmgray, 8%);
      border-radius: .5rem;
      display: block;
      padding: .5rem .75rem;
    }
  }

  .our-resources, .resources {
    margin-right: flex-gutter();
  }

  .validations {
    background: none;
    border: 0;
    box-shadow: none;
    margin-bottom: 0;

    h4 {
      margin-bottom: .5rem;
    }

    ul {
      margin-bottom: 0;
    }

    li {
      background: none;
      border: 0;
      color: $darkwarmgray;
      margin: 0;
      padding: .5rem .5rem .5rem 2.25rem;
    }

    .trail-bullet-hit-area {
      cursor: default;
    }

    .trail-bullet {
      @extend %trail-bullet-complete;
      left: 0;
      top: .5rem;
    }
  }
}
